@tailwind base;
@tailwind components;
@tailwind utilities;


#CloseButton{
    font-size:12px;
    float:inline-end;
}

#formTitle{
    position: relative;
    color:gray;
}

#description{
    font-size: 13px;
    margin-left:-290px;
    padding-top:10px;
}

.form-check-label{
    margin-right: 330px;
}

.form-check-input{
    margin-right:30px;
    border-color: gray;
    
}